<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.pay.service.point.dao.impl.RpPointAccountHistoryDaoImpl" >

	<!-- ==================================================================== -->
	<!-- 龙果学院（ www.roncoo.com ）超级教程系列 -->
	<!-- 《微服务架构的分布式事务解决方案》视频教程 -->
	<!-- 讲师：吴 水 成（水到渠成），840765167@qq.com -->
	<!-- 课程地址：http://www.roncoo.com/course/view/7ae3d7eddc4742f78b0548aa8bd9ccdb -->
	<!-- ==================================================================== -->

  <resultMap id="BaseResultMap" type="com.roncoo.pay.service.point.entity.RpPointAccountHistory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="balance" property="balance" jdbcType="BIGINT" />
    <result column="fund_direction" property="fundDirection" jdbcType="VARCHAR" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="bank_trx_no" property="bankTrxNo" jdbcType="VARCHAR" />
    <result column="trx_type" property="trxType" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="table_name"> rp_point_account_history </sql>
  
  <sql id="Base_Column_List" >
    id, create_time, edit_time, version, remark,  amount, balance, fund_direction,
    request_no, bank_trx_no, trx_type,  user_no ,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table_name"/>
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from <include refid="table_name"/>
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.roncoo.pay.service.point.entity.RpPointAccountHistory" >
    insert into <include refid="table_name"/> (id, create_time, edit_time,
      version, remark,amount, balance, fund_direction,
       request_no,bank_trx_no, trx_type,user_no ,status)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
      #{amount,jdbcType=BIGINT}, #{balance,jdbcType=BIGINT}, #{fundDirection,jdbcType=VARCHAR}, 
      #{requestNo,jdbcType=VARCHAR},
      #{bankTrxNo,jdbcType=VARCHAR}, #{trxType,jdbcType=VARCHAR},#{userNo,jdbcType=VARCHAR} ,#{status,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.roncoo.pay.service.point.entity.RpPointAccountHistory" >
    update <include refid="table_name"/>
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      balance = #{balance,jdbcType=BIGINT},
      fund_direction = #{fundDirection,jdbcType=VARCHAR},
      request_no = #{requestNo,jdbcType=VARCHAR},
      bank_trx_no = #{bankTrxNo,jdbcType=VARCHAR},
      trx_type = #{trxType,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
   <!-- 根据搜索条件获取数据 -->
	<sql id="condition_sql">
		<if test="accountNo != null and accountNo != ''"> and account_no = #{accountNo,jdbcType=VARCHAR}</if>
		<if test="userNo != null and userNo != ''"> and user_no = #{userNo,jdbcType=VARCHAR}</if>
		<if test="status != null and status != ''"> and status = #{status,jdbcType=VARCHAR}</if>
		<if test="beginDate != null and endDate != null and endDate !='' and beginDate !=''">
			and create_time_ between #{beginDate} AND CONCAT(#{endDate},' 23:59:59')
		</if>
		<if test="requestNo != null and requestNo !='' "> and request_no = #{requestNo}</if>
		<if test="bankTrxNo != null and bankTrxNo !='' "> and bank_trx_no = #{bankTrxNo}</if>
		<if test="accountNo != null and accountNo !='' "> and account_no = #{accountNo}</if>
		<if test="trxType != null and trxType !=''"> and trx_type_ =#{trxType} </if>
		<if test="fundDirection != null and  fundDirection !=''"> and fund_direction = #{fundDirection}</if>
	</sql>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by create_time desc
	</select>

</mapper>