<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.day03_mybaits.test4.orderMapper">
	<!-- 
		根据id查询orders表得到一个order对象
	 -->
	<select id="getOrder" parameterType="int" resultType="Order">
		SELECT order_id id, order_no orderNo, order_price price FROM orders WHERE order_id=#{id}
	</select>
	
	<select id="getOrder2" parameterType="int" resultMap="getOrder2Map">
		SELECT * FROM orders WHERE order_id=#{id}
	</select>
	
	<!-- 
		resultMap : 封装一些映射关系
			id : 专门针对主键
			result : 针对一般字段
	-->
	<resultMap type="Order" id="getOrder2Map">
		
		<id property="id" column="order_id"/>
		<result property="orderNo" column="order_no"/>
		<result property="price" column="order_price"/>
	</resultMap>
</mapper>
