<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctoedu.sdk" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
        <activity android:name="com.ctoedu.sdk.activity.AdBrowserActivity"/>
    </application>

</manifest>
