<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.day03_mybaits.test8.userMapper">
	<!-- 
		查询得到男性或女性的数量, 如果传入的是0就女性否则是男性
	 -->
	<select id="getUserCount" parameterMap="getUserCountMap" statementType="CALLABLE">
		CALL mybatis.ges_user_count(?,?)
	</select>
	
	<!--
		parameterMap.put("sexid", 0);
		parameterMap.put("usercount", -1);
	 -->
	<parameterMap type="java.util.Map" id="getUserCountMap">
		<parameter property="sexid" mode="IN" jdbcType="INTEGER"/>
		<parameter property="usercount" mode="OUT" jdbcType="INTEGER"/>
	</parameterMap>
</mapper>
