<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-autowire="byName">

	<!-- ==================================================================== -->
	<!-- 龙果学院（ http://www.roncoo.com ）超级教程系列 -->
	<!-- 《微服务架构的分布式事务解决方案》视频教程 -->
	<!-- 讲师：吴水成（水到渠成），840765167@qq.com -->
	<!-- 课程地址：http://www.roncoo.com/course/view/7ae3d7eddc4742f78b0548aa8bd9ccdb -->
	<!-- ==================================================================== -->

	<!-- 采用注释的方式配置bean -->
	<context:annotation-config />

	<!-- 配置要扫描的包 -->
	<context:component-scan base-package="com.roncoo.pay" />

	<!-- 读入配置属性文件 -->
	<context:property-placeholder
		location="classpath:public_system.properties,classpath:mq_config.properties" />

	<!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<import resource="classpath:spring/spring-activemq.xml" />
	<import resource="classpath:spring/spring-dubbo-consumer.xml" />

</beans>